<section data-ng-controller="HomeController">
  <div class="row search-bar">
    <!-- some space around the search bar -->
    <div class="col-md-2 col-xs-1"></div>
    <div class="col-md-8 col-xs-10">
      <ui-select
	 theme="bootstrap"
	 ng-model="home.selected"
	 reset-search-input="false"
	 on-select="home.select($item)"
	 class="search-input">
	<ui-select-match
	   placeholder="Type in your name and hit ENTER.">
	  {{$select.selected.name}}
	</ui-select-match>
	<ui-select-choices
	   repeat="customer in home.allCustomers">
	  <div ng-bind="customer.name"></div>
	</ui-select-choices>
      </ui-select>
      
    </div>
    <!-- some space around the search bar -->
    <div class="col-md-2 col-xs-1"></div>
  </div>
  <!-- This is the info part once someone's selected -->
  <div class="row content" ui-view>
    <div
       class="visible-md-* visible-lg-* an-image"
       ng-show="state == 'home'">
      <img src="modules/core/img/zephir.jpg"></img>
    </div>
</section>
