.container {
}

.search-row {
    
}
.search-bar {
}
.search-input {
}
.main {
}
.an-image {
    height: 100%;
}
.an-image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
}