.nav,
.pagination,
.carousel,
.panel-title a {
    cursor: pointer;
}
body {
    font-family: 'Pontano Sans', sans-serif;
    background-color: #703804;
}
.search-row {
    padding: 2%;
}
.an-image {
    height: 100%;
}
.an-image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
}