body {
    background-color: #703804;
}

.search-row {
    
    padding: 2%;
}
.search-bar {
}
.search-input {
}
.main {
}
.an-image {
    height: 100%;
}
.an-image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
}