<form class="register" name="form" novalidate>
  <div class="modal-header">
    <h3 class="modal-title">
      You got to give up your email address and a password for that.
    </h3>
  </div>
  <div class="modal-body">
    
    <div class="form-group modal-body">
      <input
	 name="email"
         type="email"
         class="form-control"
         placeholder="Your email"
         ng-model="register.email"
         style="margin-right: 200px;"
         required></input>
      <input
	 name="password1"
	 type="password"
	 class="form-control"
	 placeholder="A password"
	 ng-model="register.password1"
	 required></input>
      <input
	 name="password2"
	 type="password"
	 class="form-control"
	 placeholder="Same password again"
	 ng-model="register.password2"
	 required></input>
    </div>

    Don't panic, this won't be shared with anyone.
  </div>
  <div class="modal-footer">
    <span
       class="alert alert-danger incorrect"
       role="alert"
       ng-hide="register.message == ''">
      {{register.message}}
    </span>
    <button
       type="submit"
       class="btn btn-success"
       ng-click="submit()">
      Submit
    </button>
    <button
       type="cancel"
       class="btn btn-danger"
       ng-click="$dismiss('cancelled')">
      Cancel
    </button>
  </div>
</form>

