.profile {
    background-color: #EE999C;
    margin-bottom: 10%;
    border-radius: 2%;
    margin-top: 5%;
    padding: 10%;
    width: 100%;
}
img {
    display: block;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8%;
}
.info span {
    display: block;
    margin-top: 5%;
    margin-left: 5%;
    font-size: 125%;
}
.stats {
    background-color: #C9C9CC;
    border-radius: 2%;
    width: 100%;
    float: left;
    margin-top: 5%;
    height: 625px;
}
.stats i {
    position: absolute;
    color: #FFFFFF;
}

.register {
    width: 100%;
    height: 100%;
    padding: 50px;
}

.register form {
    text-align: center;
}

.register input {
    margin-top: 20px;
    margin-left: 20px;
}

.register button {
    margin-top: 30px;
    margin-right: 20px;
}

.register .incorrect {
    padding: 5px;
    float: left;
}

.ng-valid {
    border: 1px solid green;
}
.ng-invalid {
    border: 1px solid red;
}