<section>

  <ul class="nav nav-pills">
    <li ng-repeat="tab in stat.tabs"
	role="presentation"
	ng-click="stat.active = tab.name"
	ng-class="stat.active === tab.name ? 'active' : ''">
      <a>{{tab.title}}</a>
    </li>
  </ul>

  <div class="stat-chart">
    
    <!-- Compelled to repeat myself here because of the directive. -->
    
    <div
       ng-show="stat.active==='drink-history'" drink-history>
    </div>
    
    <div
       ng-show="stat.active==='entry-history'" entry-history>
    </div>
    
    <div
       ng-show="stat.active==='fav-drink-number'" fav-drink-number>
    </div>
    
    <div
       ng-show="stat.active==='fav-drink-price'" fav-drink-price>
    </div>
    
    <div
       ng-show="stat.active==='entry-over-month'" entry-over-month>
    </div>
    
    <div
       ng-show="stat.active==='balance-over-time'" balance-over-time>
    </div>

  </div>
  
</section>
